<!DOCTYPE html>
<html>
  <head>
    <title>Questionnaire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom sticky-top">
      <div class="container">
        <%= link_to "Questionnaire", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "Generated questionnaires", question_groups_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container mt-3">
      <%= yield %>
    </div>

    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s %>
            toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
      </script>
    <% end %>
  </body>
</html>
